  {% extends "layout.html" %}

{% block title %}Parketti{% endblock %}

{% block content %}
  
  <h2>Muokkaa tapahtumaa</h2>



  <form action="/edit/{{ event.id }}" method="post">
    <p>
      <label for="title">Tanssilavan nimi:</label> <br />
      <input type="text" name="title" value="{{event.title}}" required/>
    </p>
    <p>
      <label for="start_time">tapahtuman ajankohta:</label> <br />
      <input type="date" name="start_time" value="{{event.start_time}}" required/>
    </p>
    <p>
      <label for="content">tapahtuman kuvaus:</label> <br />
      <textarea name="content" rows="5" cols="40" required>{{event.content}}</textarea>
    </p>
    <p>
      <label for="styles">tanssilajit:</label> <br />
      {% for style in styles %}
        <input type="checkbox" name="styles" value="{{style}}" /> {{style}}
      {% endfor %}
    
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    {% if next_page %}
    <input type="hidden" name="next_page" value="{{ next_page }}" />
    {% else %}
    <input type="hidden" name="next_page" value="/" />
    {% endif %}

    <input type="submit" value="Lähetä" />
  </form>

  {% endblock %}