{% extends "layout.html" %}

{% block title %}Parketti{% endblock %}

{% block content %}



<h1>{{ event.title }}</h1>
{{event.start_time | format_datetime}}

<hr>

<p>
    {% for style in styles %}
    {% if loop.last %}
    {{style.style}}
    {% else %}
    {{style.style}} |
    {% endif %}
    {% endfor %}
</p>

<p>
    {{ event.content | show_lines }} <br />
    lisännyt <a href="/user/{{ event.username }}">{{ event.username }}</a>
</p>

{% if event.username == session.username %}
<a href="/edit/{{ event.id }}">Muokkaa</a> |
<a href="/delete/{{ event.id }}">Poista</a>
{% endif %}

<hr>

<div class="event-participants">
    <h2>Tapahtuman osallistujat:</h2>

    {% if session.username and show==True%}
    <form action="/event/{{event.id}}" method="post">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type="submit" value="Ilmoittaudu tapahtumaan" />
    </form>
    {% endif %}
    {% if session.username and show==False%}
    <form action="/event/{{event.id}}" method="post">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type="submit" value="Perun ilmoittautuminen" />
    </form>
    {% endif %}

    <p>
        Tapahtumaan on ilmoittautunut {{ participants|length }} henkilöä.
    </p>

    <div class="participants">
        {% if participants|length == 0 %}
        <p>Ei osallistujia</p>
        {% else %}
        {% for participant in participants %}
        <div>
            <img class="avatar" src="/image/{{ participant }}" label="{{participant}}'s avatar" />
            <p>
                <a href="/user/{{ participant }}">{{ participant }}</a>
            </p>
        </div>
        {% endfor %}
        {% endif %}
    </div>



</div>


{% endblock %}