<!DOCTYPE html>
<html>

<head>
  <title>Parketti</title>
</head>

<body>
  <h1>Parketti</h1>
  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}
    <a href="/logout">Kirjaudu ulos</a>
  </p>

    {% else %}
  <p>
    <a href="/login">Kirjaudu</a>
    <a href="/register">Rekisteröidy</a>
  </p>
{% endif %}
  <hr>
    
    <p>
        <h2>Tapahtumat</h2>
        {% if session.username %}
        <a href="/add">Lisää uusi tapahtuma</a>
        {% endif %}

    </p>
    

    <form action="/" method="get">
    <p>
      {% if query %}
      <input type="text" name="query" value="{{ query }}" />
      {% else %}
      <input type="text" name="query" placeholder="Hae tapahtumaa..." />
      {% endif %}
      <input type="submit" value="Hae" />
    </p>
    
  </form>

    
  <hr>
    {% if not events %}
    <p>Ei tapahtumia</p>
    {% endif %}


    {% for event in events %}
        <p>
            <a href="/event/{{event.id}}">{{ event.title }}</a> |  {{event.start_time }}
            <br />
            {{ event.content }}, lisännyt {{ event.username }}
        </p>
        <p>
            {% if event.username == session.username %}
            <a href="/edit/{{ event.id }}">Muokkaa</a>  | 
            <a href="/delete/{{ event.id }}">Poista</a>
            {% endif %}
        </p>
        <hr />
    {% endfor %}
</body>


</html>