<!DOCTYPE html>
<html>

<head>
  <title>Parketti</title>
</head>

<body>
  <h1>Parketti</h1>
  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}
    <a href="/logout">Kirjaudu ulos</a>
  </p>

    {% else %}
  <p>
    <a href="/login">Kirjaudu</a>
    <a href="/register">Rekisteröidy</a>
  </p>
{% endif %}
  <hr>
    

    <h2>Tapahtumat</h2> 
    {% if session.username %}
    <a href="/add">Lisää uusi tapahtuma</a>
    {% endif %}
  <hr>

    {% for event in events %}
  <p>
    <a href="/">{{ event.title }}</a>
    <br />
    {{ event.content }}, lisännyt {{ event.username }}
  </p>
  <p>
    {% if event.username == session.username %}
    <a href="/edit/{{ event.id }}">Muokkaa</a>  | 
    <a href="/delete/{{ event.id }}">Poista</a>
    {% endif %}
  </p>
  <hr />
  {% endfor %}
</body>


</html>